@model ZooboxApplication.Models.Animal

@{
    ViewData["Title"] = "Informação";
    Layout = "/Views/Shared/_LayoutPrint.cshtml";
}


    <h2>Informação</h2>

    <div>
    <h4>Animal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RaceName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RaceName.RaceName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiseaseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiseaseName.DiseaseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EntranceDay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntranceDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Statename)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Statename.StateName)
        </dd>
    </dl>
</div>
