@model ZooboxApplication.Models.Animal

@{
    ViewData["Title"] = "Animal - Detalhes";
    Layout = "/Views/Shared/_LayoutPrint.cshtml";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var roleId = UserManager.GetUserAsync(User).Result.Role;
}


<h4>@ViewData["Title"]<a href="#" data-toggle="tooltip" data-placement="bottom" title="Informação mais detalhada sobre um @ViewData["Title"]"><i class="fa fa-question-circle" aria-hidden="true"></i></a></h4>

<hr />
<div class="row">
    <div class="col-md-5">
        @if (Model.ImageFile != null)
        {
            <img src="@Html.DisplayFor(model => model.ImageFile)" alt="Foto do animal" style="height:250px; width:auto;" />
        }
        else
        {
            <img src="/images/placeholder.png" alt="Foto do animal" style="height:250px; width:auto;" />
        }

    </div>
    <div class="col-md-6">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RaceName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RaceName.RaceName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DiseaseName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DiseaseName.DiseaseName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EntranceDay)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EntranceDay)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Statename)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Statename.StateName)
            </dd>
        </dl>
    </div>
</div>
<div>
    @if (roleId != "Client")
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar </a>
    }
    <a asp-action="Index">Voltar</a>
</div>
