@model IEnumerable<ZooboxApplication.Models.Animal>

@{
    ViewData["Title"] = "Animais";
}

<h2>Animais</h2>

<p>
    <a asp-action="Create">Registar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntranceDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiseaseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Race)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntranceDay)
            </td>
            <th>s
                @Html.DisplayFor(modelItem => item.DiseaseName)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.RaceName)
            </th>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Info</a> |
                <a asp-action="Delete" asp-route-id="@item.ID"><span class="glyphicon glyphicon-trash"></span></a>

            </td>
        </tr>
}
    </tbody>
</table>
