@model ZooboxApplication.Models.ApplicationUser

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Tem a certeza que pretende eliminar?</h3>
<div>
    <h4>Utilizador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.additionInformation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.additionInformation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> 
    </form>
</div>
