@model ZooboxApplication.Models.Adoptions.Adoption

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Adopção</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdoptionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdoptionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnimalName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnimalName.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdoptionTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdoptionTypeName.AdoptionTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
