@model IEnumerable<ZooboxApplication.Models.Specie>

@{
    ViewData["Title"] = "Listagem de Espécies";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table" id="specieList">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpecieName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecieName)
                </td>
                <td class="text-right">
                    <a asp-action="Edit" asp-route-id="@item.Id"><span class="glyphicon glyphicon-pencil text-muted"></span></a> |
                    <a asp-action="Details" asp-route-id="@item.Id" target="_blank"><span class="glyphicon glyphicon-info-sign text-primary"></span></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><span class="glyphicon glyphicon-trash text-danger"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
    {

    <script>
        $(document).ready(function () {
            $('#specieList').DataTable(dtSettings);
        });
    </script>
}
